<%= render "searchbox" %>
<div class="top-margin">

    <div class="pull-right" style="padding-bottom: 20px;">
      <%= link_to("新增厂家", new_admin_medicine_manufacturer_path, class: "btn btn-primary btn-sm") %>
    </div>

    <table class="table table-boldered">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Website</td>
          <td>Contact information</td>
        </tr>
      </thead>

      <tbody>
        <% @medicine_manufacturers.each do |medicine_manufacturer| %>
        <tr>
          <td><%= medicine_manufacturer.id%></td>
          <td>
            <%= link_to(medicine_manufacturer.name, admin_medicine_manufacturer_path(medicine_manufacturer)) %>
          </td>
          <td>
            <%= medicine_manufacturer.website %>
          </td>
          <td>
            <%= medicine_manufacturer.contact_info %>
          </td>
          <td>
            <%= link_to("Edit", edit_admin_medicine_manufacturer_path(medicine_manufacturer)) %> |
            <%= link_to("Destroy", admin_medicine_manufacturer_path(medicine_manufacturer), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @medicine_manufacturers %>
    </div>


</div>
