<%= render "searchbox" %>
<div class="container top-margin">

  <div class="row">


    <table class="table table-boldered">
      <thead>
        <tr>
          <td>Name</td>
          <td>License number</td>
          <td>Strength</td>
          <td>Manufacturer name</td>
        </tr>
      </thead>

      <tbody>
        <% @medicines.each do |medicine| %>
        <tr>
          <td>
            <%= medicine.name %>
          </td>
          <td>
            <%= medicine.number %>
          </td>
          <td>
            <%= medicine.strength %>
          </td>
          <td>
            <%= medicine.manufacturer_name %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @medicines %>
    </div>

  </div>
</div>
