<%= render "searchbox" %>
<div class="container top-margin">

  <div class="row">


    <table class="table table-boldered">
      <thead>
        <tr>
          <td>Name</td>
          <td>License number</td>
          <td>Strength</td>
          <td class="text-center">Manufacturer name <br>(click to show manufacturer's contact information)</td>
          <td>Website</td>
          <td>Email</td>
        </tr>
      </thead>

      <tbody>
        <% @medicines.each do |medicine| %>
        <tr>
          <td>
            <%= medicine.name %>
          </td>
          <td>
            <%= medicine.number %>
          </td>
          <td>
            <%= medicine.strength %>
          </td>
          <td>
            <%= link_to(medicine.medicine_manufacturer.name, medicine_manufacturer_path(medicine.medicine_manufacturer)) %>
          </td>
          <td>
            <%= medicine.medicine_manufacturer.website %>
          </td>
          <td>
            <%= medicine.medicine_manufacturer.email %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @medicines %>
    </div>

  </div>
</div>
