<%= render "searchbox" %>

<div class="container top-margin">
  <div class="row">

    <table class="table table-boldered">
      <thead>
        <tr>
          <td>Name</td>
          <td>License number</td>
          <td>Strength</td>
          <td>Manufacturer name</td>
        </tr>
      </thead>

      <tbody>
        <% @medicines.each do |medicine| %>
        <tr>
          <td><%= medicine.name %></td>
          <td><%= medicine.number %></td>
          <td><%= medicine.strength %></td>
          <td>
            <%= link_to(medicine.manufacturer_name, medicine_path(medicine)) %>
          </td>
          <% if current_user.admin? %>
            <td>
              <%= link_to("Edit", edit_admin_medicine_path(medicine)) %> |
              <%= link_to("Destroy", admin_medicine_path(medicine), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center"
      <%= will_paginate @medicines %>
    </div>

  </div>
</div>
