<%= render "searchbox" %>

<div class="container top-margin">
  <div class="row">
    <div class="alert alert-dismissable alert-success">
      <button class="close" data-dismiss="alert">x</button>
      <p> If you can't get satisfied search results, please contact <a href="mailto:lupengliu@gmail.com?Subject=Hello%20pharmabook" target="_top">lupengliu@gmail.com</a> for help.</p>
    </div>
    <table class="table table-boldered">
      <thead>
        <tr>
          <td>Name</td>
          <td>License number</td>
          <td>Strength</td>
          <td>Manufacturer name</td>
          <td>Website</td>
          <td>Email</td>
        </tr>
      </thead>

      <tbody>
        <% @medicines.each do |medicine| %>
        <tr>
          <td><%= medicine.name %></td>
          <td><%= medicine.number %></td>
          <td><%= medicine.strength %></td>
          <td>
            <%= link_to(medicine.medicine_manufacturer.name, medicine_manufacturer_path(medicine.medicine_manufacturer)) %>
          </td>
          <td>
            <%= medicine.medicine_manufacturer.website %>
          </td>
          <td>
            <%= medicine.medicine_manufacturer.email %>
          </td>
          <% if current_user.admin? %>
            <td>
              <%= link_to("Edit", edit_admin_medicine_path(medicine)) %> |
              <%= link_to("Destroy", admin_medicine_path(medicine), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>

    <div class="text-center"
      <%= will_paginate @medicines %>
    </div>

  </div>
</div>
