<%= simple_form_for [:admin,@article] do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
    <%= f.input :title %>
    <%= f.input :author %>
    <%= f.input :is_hidden %>
    <%= f.input :summary %>
    <!-- data-provider="summernote" -->
    <%= f.input :content, as: :wysihtml5 %>
</div>

<div class="form-actions">
    <%= f.button :submit %>
</div>

<% end %>
