
<!--======== 网站头图 =========-->
        <section class="intro">
          <div class="row">
            <div class="col-md-12 text-center">
              <div class="intro-content">
                <h1>Pharmabook</h1><br><h2>A database of APIs, finished medicines approved by China FDA.</h2>
                <p>To make your sourcing work easy and efficient.<br> All finished medicine manufacturer are with website and contact information.</p>
                <p>Start your search by clicking items on navbar.</p>
              </div>
            </div>
          </div>
        </section>
        <!--======== end 网站头图 =========-->

<!--======== 网站简介 =========-->
        <section id="feature" class="our-experts">
          <div class="container">
              <div class="row">
                <div class="row">
                  <div class="col-md-6 col-md-offset-3 text-center margin-our-experts">
                    <h2 class="section-title">This database will help you find the right manufacturer in 5 mins.</h2>
                    <div class="short-line"></div>
                    <p class="index-contect">
                      Created by experienced consultant of China pharma industry. <br />
                      We gather data from China FDA database, translate them, and add manufacturers contact information.

                    </p>
                    <h2 class="section-title2">Now This database have</h2>

                    <%= image_tag("database.png") %>
                  </div>
                </div>
              </div>
          </div>
        </section>
        <!--======== end 网站简介 =========-->

        <!--======== 服务优势 =========-->
       <section id="service" class="what-we-do">
         <div class="container">
           <div class="row">
             <div class="col-md-6 col-md-offset-3 text-center">
               <h2 class="section-title">Our advantages</h2>
               <div class="short-line"></div>
             </div>
           </div>
           <div class="row">
             <div class="col-md-10 col-md-offset-1">
               <div class="row">
                 <div class="col-md-4 col-sm-4 col-xs-12">
                   <div class="do-box">
                     <%= image_tag("s_analytics.png") %>
                     <h3>Selected manufacturers</h3>
                     <p>Only manufactures doing exportation are included in the database.</p>
                   </div>
                 </div>
                 <div class="col-md-4 col-sm-4 col-xs-12">
                   <div class="do-box">
                     <%= image_tag("s_time.png") %>
                     <h3>Customer service</h3>
                     <p>If you can't get connected with manufacturer, you can get help from our online customer service.</p>
                   </div>
                 </div>
                 <div class="col-md-4 col-sm-4 col-xs-12">
                   <div class="do-box">
                     <%= image_tag("s_file.png") %>
                     <h3>With manufacturer contact</h3>
                     <p>Manufacturers' website, telephone, email address is open to everyone.</p>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </section>
       <!--======== end 服务优势 =========-->


       <!--======== 用户反馈 =========-->
        <section id="testimonial" class="talk-about-us">
          <div class="container">
            <div class="row">
              <div class="col-md-8 col-md-offset-2 col-xs-12 text-center">
                <h2 class="section-title">Comments from our clients</h2>
                <div class="short-line"></div>
                <div id="talk-about-us" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#talk-about-us" data-slide-to="0" class="active"></li>
                    <li data-target="#talk-about-us" data-slide-to="1"></li>
                    <li data-target="#talk-about-us" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner" role="listbox">
                    <div class="item active">
                      <p>This dabase is easy to use, I can find manufacturer and send out our inquiry very efficiently.</p>
                      <%= image_tag("user_1.png") %>
                      <strong>Edward Ghabour, Senior product manager.</strong>
                    </div>
                    <div class="item">
                      <p>The database help me a lot.</p>
                      <%= image_tag("user_3.png") %>
                      <strong>Kelly Pearce, a purchasing specilist. </strong>
                    </div>
                    <div class="item">
                      <p>Customer service is excellent, every time I need help, I can got very quick response.</p>
                      <%= image_tag("user_2.png") %>
                      <strong>Rex Victor, supply chain manager of an Euro Pharmaceutical Group. </strong>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
                <!--======== end 用户反馈 =========-->
                <!--======== 合作伙伴 =========-->
                  <section id="brand" class="our-brand">
                    <div class="container">
                      <div class="row">
                        <div class="row">
                          <div class="col-md-10 col-md-offset-1 text-center">
                            <h2 class="section-title">Is the website charged?</h2>
                            <div class="short-line"></div>
                            <p> No, it's totally free!
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>

                <!--======== end 合作伙伴 =========-->
        <div class="goTop">
            <a href="#"><span class="fa fa-chevron-up"></span></a>
        </div>
        <!--======== 再度推坑 =========-->
        <section class="support">
          <div class="container">
            <div class="row">
              <a class="btn btn-primary-welcome" href="users/sign_up" role="button">Sign Up to use the database for free.</a></a>
            </div>
          </div>
        </section>
        <!--======== end 再度推坑 =========-->
