<%= form_tag search_apis_path, method: :get, class: "navbar-form navbar-right", role: "search" do %>
  <p> <%= text_field_tag :search, params[:search], class: "form-control”, placeholder: “search title" %>
    <%= submit_tag "Search", name:nil, class: "btn btn-default" %>
  </p>
<% end %>


<table class="table table-boldered">
  <% @apis.each do |api| %>
  <tr>
    <td>
      <%= link_to(api.name, api_path(api)) %>
    </td>
    <td>
      <%= api.number %>
    </td>
    <td>
      <%= api.manufacturer %>
    </td>
  </tr>

  <% end %>
</table>
  <%= will_paginate @apis %>
