<%= render "searchbox" %>

<div class="container top-margin">
  <div class="row">
    <div class="alert alert-dismissable alert-success">
      <button class="close" data-dismiss="alert">x</button>
      <p> If you can't find what you want, please contact <a href="mailto:liulupeng3385@163.com?Subject=Hello%20pharmabook" target="_top">liulupeng3385@163.com</a> for help.</p>
      <p> <strong>Donate 0.99$ to make Pharmabook better! Your support means a lot for us.</strong></p>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="EGMNHF43YTYC6">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynowCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>


    </div>

    <table class="table table-boldered">
      <thead>
        <tr>
          <td>Name</td>
          <td>License number</td>
          <td>Manufacturer name</td>
          <td>Manufacturer website</td>
          <td>Email</td>
        </tr>
      </thead>

      <tbody>
        <% @apis.each do |api| %>
        <tr>
          <td><%= api.name %></td>
          <td><%= api.number %></td>
          <td><%= link_to(api.medicine_manufacturer.name, medicine_manufacturer_path(api.medicine_manufacturer)) %></td>
          <td><%= api.medicine_manufacturer.website%></td>
          <td><%= api.medicine_manufacturer.email%></td>
          <% if current_user.admin? %>
            <td>
              <%= link_to("Edit", edit_admin_api_path(api)) %> |
              <%= link_to("Destroy", admin_api_path(api), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
            </td>
          <% end %>

        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @apis %>
    </div>

  </div>
</div>
