<%= render "searchbox" %>

<div class="container top-margin">
  <div class="row">

    <table class="table table-boldered">
      <thead>
        <tr>
          <td>Name</td>
          <td>License number</td>
          <td>Manufacturer name</td>
          <td>Manufacturer website</td>
          <td>Email</td>
          <td>Control panel</td>
        </tr>
      </thead>

      <tbody>
        <% @apis.each do |api| %>
        <tr>
          <td><%= api.name %></td>
          <td><%= api.number %></td>
          <td><%= api.manufacturer %></td>
          <td><%= api.medicine_manufacturer.website%></td>
          <td><%= api.medicine_manufacturer.email%></td>
          <% if current_user.admin? %>
            <td>
              <%= link_to("Edit", edit_admin_api_path(api)) %> |
              <%= link_to("Destroy", admin_api_path(api), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
            </td>
          <% end %>

        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @apis %>
    </div>

  </div>
</div>
