<div class="pull-right">
  <%= link_to("Add a api", new_admin_api_path, :class => "btn btn-default" ) %>
</div>

<%= render "searchbox" %>

<table class="table table-boldered">
  <% @apis.each do |api| %>
  <tr>
    <td><%=api.id %></td>
    <td>
      <%= link_to(api.name, admin_api_path(api)) %>
    </td>
    <td>
      <%= api.number %>
    </td>
    <td>
      <%= api.manufacturer %>
    </td>
    <td>
      <%= link_to("Edit", edit_admin_api_path(api)) %> |
      <%= link_to("Destroy", admin_api_path(api), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
    </td>
  </tr>
  <% end %>
</table>

<div class="text-center">
  <%= will_paginate @apis %>
</div>
