<%= render "searchbox" %>
<div class="container top-margin">
  <div class="row">

    <table class="table table-boldered">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Website</td>
          <td>Contact information</td>
        </tr>
      </thead>

      <tbody>
        <% @medicine_manufacturers.each do |medicine_manufacturer| %>
        <tr>
          <td>
            <%= medicine_manufacturer.id %>
          </td>
          <td>
            <%= link_to(medicine_manufacturer.name, medicine_manufacturer_path(medicine_manufacturer)) %>
          </td>
          <td>
            <%= link_to(medicine_manufacturer.website, medicine_manufacturer.website)%>
          </td>
          <td>
            <%= simple_format(medicine_manufacturer.contact_info) %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @medicine_manufacturers %>
    </div>

  </div>
</div>
