<%= render "searchbox" %>

<div class="container top-margin">
  <div class="row">
    <div class="alert alert-dismissable alert-success">
      <button class="close" data-dismiss="alert">x</button>
      <p> If you can't get satisfied search results, please contact <a href="mailto:lupengliu@gmail.com?Subject=Hello%20pharmabook" target="_top">lupengliu@gmail.com</a> for help.</p>
    </div>

    <table class="table table-boldered">
      <thead>
        <tr>
          <td>ID</td>
          <td>Name</td>
          <td>Website</td>
          <td>Email</td>
          <td>contact_info</td>
        </tr>
      </thead>

      <tbody>
        <% @medicine_manufacturers.each do |medicine_manufacturer| %>
        <tr>
          <td><%= medicine_manufacturer.id %></td>
          <td><%= link_to(medicine_manufacturer.name, medicine_manufacturer_path(medicine_manufacturer)) %></td>
          <td><%= medicine_manufacturer.website %></td>
          <td><%= medicine_manufacturer.email %></td>
          <td><%= simple_format(medicine_manufacturer.contact_info) %></td>
          <% if current_user.admin? %>
            <td>
              <%= link_to("Edit", edit_admin_medicine_manufacturer_path(medicine_manufacturer)) %> |
              <%= link_to("Destroy", admin_medicine_manufacturer_path(medicine_manufacturer), :method => :delete, :data => { :confirm => "Are you sure?" }) %>
            </td>
          <% end %>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @medicine_manufacturers %>
    </div>

  </div>
</div>
