<div class="container top-margin">

  <div class="row">
    <h3>Manufacturer Basic Information</h3>

<table class="table table-boldered">
  <thead>
    <tr>
      <th>Manufacturer Name</th>
      <th>Website</th>
      <th>Contact Information</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td>
        <%= @medicine_manufacturer.name %>
      </td>
      <td>
        <%= @medicine_manufacturer.website %>
      </td>
      <td>
        <%= simple_format(@medicine_manufacturer.contact_info) %>
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>


<div class="container top-margin">

  <div class="row">
  <h3> Product list (Finished Medicines) </h3>

    <table class="table table-boldered">
      <thead>
        <tr>
          <td>Name</td>
          <td>License number</td>
          <td>Strength</td>
        </tr>
      </thead>

      <tbody>
        <% @medicines.each do |medicine| %>
        <tr>
          <td>
            <%= medicine.name %>
          </td>
          <td>
            <%= medicine.number %>
          </td>
          <td>
            <%= medicine.strength %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @medicines %>
    </div>

  </div>
</div>
