<%= render "searchbox" %>

<div class="container top-margin">

  <div class="row">

    <p>
      <%= link_to "all", certificates_path, :class => "btn btn-success"%>
      <%= link_to "US-FDA", certificates_path(:filter => "fda"), :class => "btn btn-success" %>
      <%= link_to "EU-GMP", certificates_path(:filter => "eu"), :class => "btn btn-success" %>
      <%= link_to "WHO-GMP", certificates_path(:filter => "who"), :class => "btn btn-success" %>
      <%= link_to "Other Pic/s", certificates_path(:filter => "pics"), :class => "btn btn-success" %>
    </p>

    <table class="table table-boldered">
      <thead>
        <tr class="active">
          <td><strong>Manufacturer</strong></td>
          <td align="center"><strong>Fda</strong></td>
          <td align="center"><strong>Eu GMP</strong></td>
          <td align="center"><strong>WHO-PQ</strong></td>
          <td align="center"><strong>Other Pic/s</strong></td>

        </tr>
      </thead>

      <tbody>
        <% @certificates.each do |certificate| %>
        <tr>
          <td>
            <%= link_to(certificate.manufacturer, medicine_manufacturer_path(certificate.medicine_manufacturer)) %>
          </td>
          <td align="center">
            <%= certificate.fda %>
          </td>
          <td align="center">
            <%= certificate.eu %>
          </td>
          <td align="center">
            <%= certificate.who %>
          </td>
          <td align="center">
            <%= certificate.pics %>
          </td>
          
        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @certificates %>
    </div>



  </div>
</div>
