
<%= render "searchbox" %>
<div class="container top-margin">

  <div class="row">


    <table class="table table-boldered">
      <thead>
        <tr>
          <td>Medicine Name</td>
          <td>Strength</td>
          <td>ANDA number</td>
          <td>Manufacturer</td>
          <td>Submission Status</td>
          <td>Approval Date</td>
        </tr>
      </thead>

      <tbody>
        <% @andas.each do |anda| %>
        <tr>
          <td>
            <%= anda.product %>
          </td>
          <td>
            <%= anda.strength %>
          </td>
          <td>
            <%= anda.number %>
          </td>
          <td>
            <%= link_to(anda.manufacturer, medicine_manufacturer_path(anda.medicine_manufacturer)) %>
          </td>
          <td><%= anda.submission_status %></td>
          <td><%= anda.approval_date %></td>

        </tr>
        <% end %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @andas %>
    </div>

  </div>
</div>
