<div class="col-md-12">

  <h2 class="text-center"> User search apis list </h2>

  <p>
  Download:
  <%= link_to "CSV",apisearches_path(format: "csv") %> |
  <%= link_to "Excel", apisearches_path(format: "xls") %>
</p>

  <table class="table">
      <thead>
        <tr>
          <td>ID</td>
          <td>User's email</td>
          <td>Company</td>
          <td>Country</td>
          <td>Mobile</td>
          <td>Query medicine</td>
          <td>Search Time</td>
        </tr>
      </thead>
      <tbody>
        <% @apisearches.each do |apisearch| %>
        <tr>
          <td><%= apisearch.id %></td>
          <td><%= apisearch.user.email %></td>
          <td><%= apisearch.user.company %></td>
          <td><%= apisearch.user.country %></td>
          <td><%= apisearch.user.try(:mobile) %></td>
          <td><%= apisearch.query %></td>
          <td><%= apisearch.created_at%></td>
        </tr>
        <% end %>
      </tbody>
  </table>

</div>
