<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:o="urn:schemas-microsoft-com:office:office"
  xmlns:x="urn:schemas-microsoft-com:office:excel"
  xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
  xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">ID</Data></Cell>
        <Cell><Data ss:Type="String">Query medicine</Data></Cell>
        <Cell><Data ss:Type="String">User ID</Data></Cell>
        <Cell><Data ss:Type="String">Search Time</Data></Cell>
        <Cell><Data ss:Type="String">User's email</Data></Cell>
        <Cell><Data ss:Type="String">Country</Data></Cell>
        <Cell><Data ss:Type="String">Company</Data></Cell>

      </Row>
    <% @apisearches.each do |apisearch| %>
      <Row>
        <Cell><Data ss:Type="Number"><%= apisearch.id %></Data></Cell>
        <Cell><Data ss:Type="String"><%= apisearch.query %></Data></Cell>
        <Cell><Data ss:Type="Number"><%= apisearch.user_id %></Data></Cell>
        <Cell><Data ss:Type="Datetime"><%= apisearch.created_at %></Data></Cell>
        <Cell><Data ss:Type="String"><%= apisearch.user.email %></Data></Cell>
        <Cell><Data ss:Type="String"><%= apisearch.user.country %></Data></Cell>
        <Cell><Data ss:Type="String"><%= apisearch.user.company %></Data></Cell>

      </Row>
    <% end %>
    </Table>
  </Worksheet>
</Workbook>
