<div class="col-md-12">

  <h2 class="text-center"> User search apis list </h2>

  <table class="table">
      <thead>
        <tr>
          <td>User's email</td>
          <td>Company</td>
          <td>Country</td>
          <td>Query medicine</td>
          <td>Search Time</td>
        </tr>
      </thead>
      <tbody>
        <% @apisearches.each do |apisearch| %>
          <% if apisearch.user.country != "CN" %>
            <tr>
              <td><%= apisearch.user.email %></td>
              <td><%= apisearch.user.company %></td>
              <td><%= apisearch.user.country %></td>
              <td><%= apisearch.query %></td>
              <td><%= apisearch.created_at%></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
  </table>
  <div class="text-center">
    <%= will_paginate @apisearches %>
  </div>
</div>
