<p>
Download:
<%= link_to "CSV",admin_users_path(format: "csv") %> |
<%= link_to "Excel", admin_users_path(format: "xls") %>
</p>


<table class="table table-boldered">
  <thead>
    <tr>
      <th> User ID</th>
      <th> User email</th>
      <th> Country</th>
      <th> Company</th>
      <th> Mobile</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.id %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>
        <%= user.country %>
      </td>
      <td>
        <%= user.company %>
      </td>
      <td>
        <%= user.try(:mobile) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
