<!DOCTYPE html>
<html>
<head>
    <title>Pharmabook 后台</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
</head>

<body>
<div id="id_wrapper">
  <div class="container-fluid">
    <%= render "common/navbar" %>
    <div class="row adminlayout">
      <div class="col-md-2 nav-left-style">
        <ul class="nav nav-pills nav-stacked" style="max-width: 300px;">
          <hr>
          <li><%= link_to("Apis", admin_apis_path) %></li>
          <li><%= link_to("Medicines", admin_medicines_path) %></li>
          <li><%= link_to("Manufacturers", admin_medicine_manufacturers_path) %></li>
          <li><%= link_to("Products", admin_products_path) %></li>
          <li><%= link_to("Orders", admin_orders_path) %></li>
          <li><%= link_to("API search log", apisearches_path) %></li>
          <li><%= link_to("Finished Medicine search log", medsearches_path) %></li>
          <li><%= link_to("Users", admin_users_path) %></li>
        </ul>
      </div>
      <div class="col-md-10">
        <%= yield %>
      </div>
    </div>
  </div>
</div>
      <%= render "common/footer" %>
</body>
</html>
