<!DOCTYPE html>
<html>
  <head>
    <title>Pharmabook</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= render_page_title_tag %>
  </head>

  <body>
    <div id="id_wrapper">
      <div class="container-fluid">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <div class="row adminlayout">
          <%= yield %>
        </div>
      </div>
    </div>
      <%= render "common/footer" %>
  </body>

</html>

<span class="skype-button bubble " data-contact-id="liulupengouc"></span>
<script src="https://swc.cdn.skype.com/sdk/v1/sdk.min.js"></script>
