<!DOCTYPE html>
<html>
  <head>
    <title>Pharmabook</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="id_wrapper">
      <div class="container-fluid">
        <%= render "common/navbar" %>
        <%= render "common/flashes" %>
        <div class="row adminlayout">
          <%= yield %>
        </div>
      </div>
    </div>


      <%= render "common/footer" %>

  </body>
</html>
